/*
 Theme Name:   Mindspace Resilience 2025
 Theme URI:    https://www.mindspaceresilience.co.uk/
 Description:  Theme for Mindspace Resilience
 Author:       LamcatUK - DS
 Author URI:   https://github.com/LamcatUK
 Template:     understrap
 Version:      0.1
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  lc-mindspace2025
 Tags: one-column, custom-menu, featured-images, theme-options, translation-ready
 GitHub Theme URI: LamcatUK/lc-mindspace2025
*/
