.contact {
  border-radius: var(--radius-lg);
  position: relative;
  isolation: isolate;
  background-color: var(--col-ivory);
  .contact__overlay {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: min(500px, 90vw);
    height: 100%;
    z-index: -1;
    transform: scaleX(-1);
    right: 0;
    background-image: url(../img/leaf--teal.svg);
  }
  @media (max-width: 991px) {
    .contact__overlay {
      background-position: bottom;
      bottom: 1rem;
    }
  }
}

.wpcf7 {
  max-width: unset !important;
}

.form-check-input {
  background-color: transparent !important;
  border: none !important;
}
.wpcf7-list-item {
  display: block !important;
}
.form-label {
  font-weight: var(--fw-500);
  font-size: var(--fs-350);
}
.wpcf7-acceptance .wpcf7-list-item-label {
  font-size: var(--fs-350);
}
