$col-primary: #00a0de;
$col-dark: #00487c;
$col-darkest: #0d0630;
$col-highlight: #53dd6c;
$col-grey: #fff0f0;

:root {
  --col-white: #ffffff;
  --col-black: #414440;
  --col-ivory: #faf5ef;

  // --col-purple-400-hsl: 291 24% 50%; // #95629e; mine

  --col-purple-400-hsl: 284 73% 35%; // #79189b; sign
  --col-purple-400: hsl(var(--col-purple-400-hsl));
  --col-purple-200-hsl: 290 24% 70%; // #bfa1c5;
  --col-purple-200: hsl(var(--col-purple-200-hsl));

  --col-pink-400-hsl: 324 96% 46%; // #e4058c; logo
  --col-pink-400: hsl(var(--col-pink-400-hsl));

  --col-teal-400-hsl: 190 35% 49%; // #5199a8
  --col-teal-400: hsl(var(--col-teal-400-hsl));
  --col-teal-200-hsl: 190 33% 69%; // #97c2cb
  --col-teal-200: hsl(var(--col-teal-200-hsl));

  --col-gold: #f9ba32;
  --col-coral-hsl: 5 100% 69%; // #ff6f61;
  --col-coral: hsl(var(--col-coral-hsl));

  --ff-body:
    "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --ff-headings:
    "Marcellus", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 400;
  --fw-800: 400;

  --fs-300: 14px;
  --fs-350: 16px;
  --fs-400: 18px;
  --fs-500: 22px;
  --fs-600: 32px;
  --fs-700: 42px;
  --fs-800: 60px;
  // --fs-900: 80px;
  --fs-900: clamp(3.333rem, 2.475vw + 2.797rem, 4.722rem);

  --lh-normal: 1.5;
  --lh-700: 1.3;
  --lh-800: 1.2;
  --lh-900: 1.1;

  --ls-900: 0.02em;

  --h-top-mobile: 75px;
  --h-top: 110px;

  --transition: 200ms ease-in-out;

  --radius-lg: 1rem;
  --radius-sm: 0.5rem;

  --shadow-1: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
